.footer-p {
  padding: 2.5rem 0;
  color: #f38630;
  text-align: center;
  background-color: #a7dbd8;
  border-top: .05rem solid #e5e5e5;
}
.footer-p p:last-child {
  margin-bottom: 0;
}

a:link, a:visited {
  color: #fa6900;
}

body {
  background-color: #a7dbd8;
}
